<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardCode">
	<select id="selectBysearch" parameterType="Map" resultType="Map">
        SELECT * FROM BOARDS;
	</select>

	<!-- 상세 -->
	<select id="selectByUID" parameterType="Map" resultType="Map">
        SELECT * 
		FROM BOARDS 
		WHERE PK_BOARDS=#{PK_BOARDS};
 <!-- #{PK_BOARDS} -->
	</select>

	<!-- 입력 -->
	<insert id="insert" parameterType="Map">
		INSERT INTO BOARDS
		(PK_BOARDS, TITLE, CONTENTS, WRITER_ID, CREATE_DATE, PARENT_BOARDS) 
		VALUES
		(#{PK_BOARDS}, #{TITLE}, #{CONTENTS}, #{WRITER_ID}, CURRENT_TIMESTAMP, #{PARENT_BOARDS});
    </insert>

	<!-- 수정 -->
	<update id="update" parameterType="Map">
	UPDATE BOARDS
	SET TITLE = #{TITLE}, WRITER_ID = #{WRITER_ID}, PARENT_BOARDS = #{PARENT_BOARDS}, CONTENTS = #{CONTENTS}, CREATE_DATE = CURRENT_TIMESTAMP
	WHERE PK_BOARDS=#{PK_BOARDS};
    </update>

	<!-- 삭제 -->
	<delete id="delete" parameterType="Map">
		DELETE FROM BOARDS
		WHERE PK_BOARDS = #{PK_BOARDS};
    </delete>

	<!-- 여러개 삭제 -->
	<delete id="deletewithin" parameterType="Map">
		DELETE FROM BOARDS
		WHERE  
		<foreach item="pk_item" index="index" collection="deleteIds"
			open="PK_BOARDS in (" separator="," close=")" nullable="true">
			#{pk_item}
		</foreach>
		;
	</delete>
		<!-- total count -->
	<select id="selectTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        from BOARDS
		<if test="search != null and search != ''">
		where ${searchType} regexp #{search}
		</if>
        ;
	</select>
  
  <!-- 검색 with pagination -->
	<select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT *
        FROM BOARDS
        where 1 = 1
		<if test="search != null and search != ''">
		and ${searchType} regexp #{search}
		</if>
        limit #{pageBegin}, #{pageScale}
        ;
	</select>

</mapper>